VITE_SUPABASE_URL=https://ywjpxotwovyqeayfpvtz.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=

# Stripe Payment Keys
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51PRJCsGGsoQTkhyv6OrT4zvnaaB5Y0MSSkTXi0ytj33oygsfW3dcu6aOFa9q3dr2mXYTCJErnFQJcOcyuDAsQd4B00lIAdclbB
STRIPE_SECRET_KEY=

# Resend Email Delivery Keys
RESEND_API_KEY=
RESEND_FROM_EMAIL=AVADA 3D <onboarding@resend.dev>

# Google Drive Download Links
VITE_STARTER_DOWNLOAD_URL=https://drive.google.com/drive/u/0/folders/1n8fSTVtySXMHbPd1nhlqA6yIijNqrqUK
VITE_VIP_DOWNLOAD_URL=https://drive.google.com/drive/u/0/folders/1n8fSTVtySXMHbPd1nhlqA6yIijNqrqUK
